#about {
  width: 650px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin: auto;
  overflow-y: scroll;
  padding: 20px;
  color: #f1f1f1;
  border-radius: 10px;
}

/* width */
#about::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#about::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
#about::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
#about::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}

#about > h2 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

#about > p {
  line-height: 1.3;
}

#about > section {
  margin-block: 20px;
  border-top: 1px solid #808080;
  padding-top: 15px;
}

#about > section h3 {
  margin-bottom: 15px;
  font-size: 1.4em;
  font-weight: 400;
  text-decoration: underline;
}

.modalidad h4 {
  margin-bottom: 7px;
}

.modalidad,
.modalidad > ul,
.jornada,
.jornada > ul {
  display: flex;
  gap: 0.5em;
}

.modalidad ul,
.jornada ul {
  color: #d1d1d1;
}

.habilidades ul,
.intereses ul {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.habilidades li,
.intereses li {
  flex-shrink: 0;
  padding: 7px 12px;
  border-radius: 15px;
  border: 1px solid #d1d1d1;
  background-color: #2e2e2e;
}

.idiomas span {
  color: #d1d1d1;
}

.educacion li {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
}

.education-icon {
  display: grid;
  place-content: center;
  padding: 5px;
  border: 1px solid #808080;
  border-radius: 50%;
}

.education-content strong {
  display: block;
}

.education-content span {
  font-weight: 200;
}

.exp-card {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #808080;
  padding: 10px;
}

.exp-card strong {
  display: block;
  font-size: 1.2em;
}

.periodo {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #d1d1d1;
  font-weight: 200;
}

.cargo {
  display: block;
  font-weight: 500;
  color: #d1d1d1;
  margin-bottom: 10px;
}

.responsabilidades li {
  padding-block: 5px;
}

.logros li {
  display: flex;
  gap: 0.5em;
  margin-bottom: 10px;
}
