.menu {
  position: relative;
  z-index: 3000;
  grid-column: 2/3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 40px 1fr;
  height: 60vh;
  margin: auto;
  gap: 1em;
}

.plans-container,
.about-container,
.galery-container,
.about-agencieAndCompany-container,
.professionals-container,
.services-container {
  display: block;
  height: 470px;
}

.menu-content-container {
  display: grid;
  place-content: center;
}

.menu-buttons {
  width: 650px;
  margin: auto;
}

.plans-btn,
.about-btn {
  background-color: #1a1a1a;
  padding: 10px 20px;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
  margin-right: 20px;
  transition: scale 0.2s;
  border-radius: 5px;
  border: none;
}

.plans-btn:hover,
.about-btn:hover {
  text-decoration: underline;
}

.active {
  scale: 1.05;
  background-color: #0e0e0e;
}


#about-agencieAndCompany-container,
#professionals-container,
#services-container{
  width: 650px;
  min-height: 450px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  margin: auto;
  padding: 20px;
  color: #f1f1f1;
  border-radius: 10px;
}

#services-container,
#professionals-container{
  overflow-y: scroll;
}

/* width */
#about::-webkit-scrollbar,
#services-container::-webkit-scrollbar,
#professionals-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#about::-webkit-scrollbar-track,
#services-container::-webkit-scrollbar-track,
#professionals-container::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
#about::-webkit-scrollbar-thumb,
#services-container::-webkit-scrollbar-thumb,
#professionals-container::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
#about::-webkit-scrollbar-thumb:hover,
#services-container::-webkit-scrollbar-thumb:hover,
#professionals-container::-webkit-scrollbar-thumb:hover{
  background: #d3d3d3;
}
