.menu {
  position: relative;
  z-index: 3000;
  grid-column: 2/3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 40px 1fr;
  height: 60vh;
  margin: auto;
  gap: 1em;
}

.plans-container,
.about-container,
.galery-container {
  display: block;
  height: 470px;
}

.menu-content-container {
  display: grid;
  place-content: center;
}

.menu-buttons {
  width: 650px;
  margin: auto;
}

.plans-btn,
.about-btn {
  background-color: #1a1a1a;
  padding: 10px 20px;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
  margin-right: 20px;
  transition: scale 0.2s;
  border-radius: 5px;
  border: none;
}

.plans-btn:hover,
.about-btn:hover {
  text-decoration: underline;
}

.active {
  scale: 1.05;
  background-color: #0e0e0e;
}
