.servicesArrayCard{
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.servicesArrayCard strong{
    font-size: 1.2em;
    font-weight: 300;
}

/* serviceCard */
.CardServiceArrayCard{
    border: 1px solid #808080;
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin-block: 10px;
    transition: scale .2s, background-color .2s;
}

.CardServiceArrayCard:hover{
    scale: 1.02;
    border: 1px solid #80808085;
    background-color: rgba(0, 0, 0, 0.1);
}

.arrow-CardServiceArrayCard{
    position: absolute;
    right: 5px;
    top: 5px;
    transition: transform .5s;
}

.arrowReverse-CardServiceArrayCard{
    transform: rotate(180deg);
}

.title_serviceCard{
    font-size: 1.3em;
    text-decoration: underline;
}

.data-CardServiceArrayCard {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  
  .data-expanded {
    max-height: 500px;
  }

.data-CardServiceArrayCard p{
    margin-bottom: 10px
}
